    <div class="container-form">
        <p class=" mt-5 mb-3 text-muted">Area de admin</p>
        <form action="/api/view/create" method="POST" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Adicionar produto</h1>

            <label for="title" class="sr-only">Nome do produto</label>
            <input type="text" name="title" id="title" class="form-control" placeholder="Nome do produto" required><br>

            <label for="description" class="sr-only">Descrição</label>
            <input type="text" name="description" id="description" class="form-control" placeholder="Descrição" required><br>

            <label for="price" class="sr-only">Preço</label>
            <input type="number" name="price" id="price" class="form-control" placeholder="Preço" required><br>

            <label for="code" class="sr-only">Cdigo</label>
            <input type="text" name="code" id="code" class="form-control" placeholder="Cdigo" required><br>

            <label for="stock" class="sr-only">Estoque</label>
            <input type="number" name="stock" id="stock" class="form-control" placeholder="Estoque" required><br>

            <label for="category" class="sr-only">Categoria</label>
            <input type="text" name="category" id="category" class="form-control" placeholder="Categoria" required><br><br>

            <button type="submit" class="btn btn-lg btn-primary btn-block">Adicionar produto</button>
            <a class="mt-1 mb-3 btn btn-lg btn-primary btn-block" href="/api/view/products" > <- Retornar para produtos</a>
        </form>
    </div>
