
<h1>Chat</h1>
<div>
    <input type="text" id="user" placeholder="Digite seu nome..." required>
    <input type="text" id="messageInput" placeholder="Digite uma mensagem..." required />
    <button onclick="sendMessage()">Enviar</button>
</div>
<div id="chatBox"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>