<!--<div class="text-center">-->
<!--    <a href="/api/view/register" class="btn btn-primary">Registrar</a>-->
<!--    <a href="/api/view/login" class="btn btn-secondary">Logar</a>-->
<!--    <a href="/api/user/profile" class="btn btn-info">Perfil</a>-->
<!--</div>-->

<div class="text-center container-form">
    <form class="form-signin">
        <a class="btn btn-lg btn-primary btn-block mt-2" href="/api/user/profile" type="submit">Perfil</a>
        <a class="btn btn-lg btn-primary btn-block mt-2" href="/api/view/login" type="submit">Login</a>
        <a class="btn btn-lg btn-primary btn-block mt-2" href="/api/view/register" >Cadastrar</a>
        <a class="btn btn-lg btn-primary btn-block mt-2" href="/api/view/products" >Produtos</a>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
</div>

