<div class="container">
    <h1>Realtime Products</h1>


    <ul class="list-group">
        {{#each products}}
            <li class="list-group-item">
                {{title}} - {{description}} - R${{price}}
            </li>
        {{/each}}
    </ul>
    <button onclick="location.href='/api/view/addproduct'">retornar para home</button>
</div>

